<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.chw.hf">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".HealthFacilityApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/HFTheme"
        tools:replace="android:theme, android:icon">
        <activity
            android:name=".activity.AncFilterActivity"
            android:exported="false"
            android:theme="@style/HFTheme.NoActionBar"/>
        <activity
            android:name=".activity.LoginActivity"
            android:icon="@drawable/ic_launcher"
            android:launchMode="singleTask"
            android:roundIcon="@drawable/ic_launcher_round"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".activity.RequestPhoneNumberCollectionPermission"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.KvpRegisterActivity"
            android:exported="false"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpBioMedicalServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpBehavioralServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpStructuralServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpOtherServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PrEPRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PrEPProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PrEPVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CdpRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.OrderRequestDetailsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HfJsonWizardFormActivity"
            android:theme="@style/HFTheme.NoActionBar"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.AncPartnerTestingHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDRegistrationAdmissionInformationJsonWizardFormActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralRegistrationActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LdEmergencyReferralRegistrationActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LTFURegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralsDetailsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LtfuSummaryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LtfuSummaryViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivstRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivstProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivstResultViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LdReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LdReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.MotherChampionReportsActivity"
            android:exported="false"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.MotherChampionReportsViewActivity"
            android:exported="false"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncReportsActivity"
            android:exported="false"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CbhsReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CbhsReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncNoMotherRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncNoMotherProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HeiMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.family.activity.FamilyWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.chw.hf.activity.FamilyRegisterActivity" />
        </activity>
        <activity
            android:name=".activity.FamilyOtherMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FamilyProfileActivity" />
        </activity>
        <activity
            android:name=".activity.PmtctRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HeiRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HeiProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HeiFollowupVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HeiHivResultsViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctFollowupVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctEacFirstVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PmtctEacSecondVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncRegistrationDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildHomeVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyPlanningMemberProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyRemoveMemberActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreChildMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreFpUpcomingServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralTaskViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PregnancyConfirmationViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CommunityFollowupFeedbackViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CommunityIndexFollowupFeedbackViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncMemberProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncFirstFacilityVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AncRecurringFacilityVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncMemberProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncNoMotherChildMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AllClientsRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AllClientsMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.AllClientsRegisterActivity"
            android:theme="@style/FamilyTheme.NoActionBar" />
        <activity
            android:name=".activity.IndividualProfileRemoveActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.opd.activity.BaseOpdFormActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.MalariaRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.MalariaProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.FpRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HfStockInventoryReportActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ProvidersReportListActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreStockInventoryReportActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreStockInventoryItemDetailsReportActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.ServiceActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.ReportSummaryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.ServiceJsonFormActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HfHIA2ReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.InAppInventoryReportActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AboveFiveChildProfileActivity"
            android:label="@string/child_details"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity android:name="org.smartregister.chw.core.activity.ChwP2pModeSelectActivity" />
        <activity
            android:name=".activity.ChildMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HtsRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivIndexContactsContactsRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.IndexContactsListActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivProfileActivity"
            android:parentActivityName=".activity.HivRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivIndexContactProfileActivity"
            android:parentActivityName=".activity.HivIndexContactsContactsRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HivFormsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.TbRegisterActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.TbProfileActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.HvlResultsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.Cd4ResultsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PartnerRegistrationActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.AllMaleClientsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PncFacilityVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDRegistrationFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDPartographActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LDPartographDetailsActivity"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDGeneralExaminationVisitActivity"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDActiveManagementStageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.PmtctMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />

        <activity
            android:name=".activity.LDPostDeliveryManagementMotherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LDRegistrationDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.LdSummaryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.PrEPMedicalHistoryActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.SelfTestingReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.SelfTestingReportsViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CdpReportsViewActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.CdpReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpReportsViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/HFTheme.NoActionBar" />
        <activity
            android:name=".activity.KvpReportsActivity"
            android:theme="@style/HFTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

        <service android:name="org.smartregister.immunization.service.intent.VaccineIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.RecurringIntentService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncIntentService" />
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.chw.anc.intent.HomeVisitIntentService" />
        <service android:name="org.smartregister.sync.intent.LocationIntentService" />
        <service android:name=".sync.intent.HfSyncTaskIntentService" />
        <service android:name="org.smartregister.sync.intent.PlanIntentService" />
        <service android:name=".sync.intent.HfSyncClientEventsPerTaskIntentService" />
        <service android:name="org.smartregister.chw.core.sync.intent.CloseExpiredReferralsIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncLocationsByTeamIdsIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncLocationsByLevelAndTagsIntentService" />
        <service android:name="org.smartregister.reporting.service.IndicatorGeneratorIntentService" />
        <service android:name=".sync.intent.MarkPmtctAndHeiLtfIntentService" />
        <service android:name=".sync.intent.ProcessVisitsIntentService" />
        <service android:name=".sync.intent.PncCloseDateIntentService" />
        <service android:name=".sync.intent.GenerateMonthlyTalliesIntentService" />

        <receiver
            android:name="org.smartregister.view.receiver.ConnectivityChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.smartregister.view.receiver.TimeChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.ona.kujaku.receivers.KujakuNetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>